body {
    --cell-width: 1rem;
    --cell-height: 1rem;
}

#board-container {
    aspect-ratio: 1.2 / 1;
    height: 55rem;
}

#board {
    height: 100%;
    width: 100%;
    container-type: size;
    background-color: #181818;
    table-layout: fixed;
}

.bingo-col-header {
    width:fit-content;
    border: 1px solid black;
    background-color: rgb(25, 25, 71);
    height: 0.5rem;
    text-align: center;
}

.bingo-col-header-row {
    height: 0.5rem;
}

.bingo-row-header {
    width: 1rem;
    border: 1px solid black;
    background-color: rgb(25, 25, 71);
    font-size: small;
    text-align: center;
}

.bingo-cell {
    height: var(--cell-height);
    box-sizing: border-box;
    overflow:hidden;
    border: 1px solid black;
    text-align: center;
    padding: 0rem 0.2rem;
    display:table-cell;
    text-align: center;
    vertical-align: top;
}

.bingo-cell:hover {
    background-color: #616161;
}

.bingo-cell-content {
    font-size: 0.65rem;
    width: inherit;
    height:inherit;
    margin-top: 0px;
    overflow: visible;
}

.team-wrapper {
    width: fit-content;
    padding: 0.5rem;
    min-width: 5rem;
}

.team-box {
    width:auto;
    height: auto
}

.team-member {
    margin: 0;
}

#teamDialog {
    padding: 0rem;
}

#teamDialog-wrapper {
    position:relative;
    top: 0px;
    left: 0px;
    width: 50vw;
    height: 50vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 1rem;
}

#room {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0rem;
}

#container {
    width: 100%;
    max-width: none;
    padding: 1vh;
}



#teamSelector {
    display: flex;
    flex-direction: column;
    min-width: 10em;
    width: 100%;
}

#teamSelector-inner {
    background-color: #2e3338;
    display:flex;
    flex-wrap: wrap;
}

#sidebar {
    display:flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1em;
    max-width: 20em;
}

#chat-outer {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#chat-inner {
    width: 100%;
    height: 30em;
    width: 20em;
    background-color: #2e3338;
    display:flex;
    flex-direction: column;
}

#chat-box {
    overflow-y: scroll;
    text-wrap: wrap;
}

#chat-message-box {
    width: 100%;
    min-height: 3rem;
    height:fit-content;
    margin-top: auto;
}

#exit {
    flex: 2;
}