body {
    display:grid;
    background-color: #272b30 !important;
    color:white !important;
    box-sizing: border-box;
}

.rounded {
    border-radius: 0.25em;
}

.bordered {
    border: 1px solid black;
}

.window-header {
    background-color: #3e444c !important;
    display:flex !important;
    width:100% !important;
    padding: 0.6em 1em;
    border-bottom: 0.1em solid black;
    border-radius: 0.25em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap:0.5em;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    row-gap:1em;
}

.fill {
    width:100%;
}

.creation-width {
    width: 60%;
}

label {
    white-space: nowrap;
    vertical-align: middle;
}

header {
    box-sizing: border-box;
    justify-self: center;
    padding:1em;
    display: flex;
    background-color: #2e3338;
    vertical-align: middle;
}

main {
    padding-top: 1em;
    display: flex;
    gap:1em;
    flex:1;
}

footer {
    justify-self: center;
    display: flex;
    justify-content: right;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-style: italic;
    font-weight: 100;
}


#container {
    padding-top: 1.5rem;
    width: 98vw;
    min-width: 20em;
    max-width: 80em;
    justify-self: center;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

#room-creation-outer {
    width: 20em;
    background-color: #2e3338;
    flex-shrink: 0;
    height:fit-content;
}

#room-creation-inner {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.75em;
}

#room-list-outer {
    background-color: #2e3338;
    border-color: black;
    width:100%;
}

#room-list-inner {
    padding:1em;
}

#room-list-inner td {
    padding-right: 0.5em;
}

#room-list-inner tbody tr:hover {
    background-color: #3e444c;
}

#websocket-url {
    width: 100%;
}

#ws-url-wrapper {
    display: flex;
    text-wrap: nowrap;
    width:30rem;
}